<h3>{{ _('Complicated Integration Settings') }}</h3>

<form class="form-horizontal">
    <div class="control-group">
        This complication allows you to show current print progress on your Apple Watch, using the Complicated iOS/Watch app.<br/>
        <br/>
        <a href="https://itunes.apple.com/us/app/complicated/id1444561091?ls=1&mt=8">You can get the app here, or by searching Complicated on the app store</a>
        <hr/>

        <label class="control-label">{{ _('API Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octoprint_complicated.api_key">
            <div class="help-block">You can get this value from the settings menu in the Complicated app after completing the setup wizard.</div>
        </div>
        <br/>

        <label class="control-label">{{ _('Complication Type') }}</label>
        <div class="controls">
            <select class="input-block-level" data-bind="value: settings.plugins.octoprint_complicated.selected_complication">
                <option value="modularLarge">Modular Large</option>
                <option value="modularSmall">Modular Small</option>
                <option value="utilitarianSmall">Utility Small</option>
                <option value="utilitarianLarge">Utility Large</option>
                <option value="circularSmall">Circular Small</option>
                <option value="extraLarge">Extra Large</option>
                <option value="graphicCorner">Graphic Corner</option>
                <option value="graphicRectangular">Graphic Rectangular</option>
                <option value="graphicBezel">Graphic Bezel</option>
            </select>
            <div class="help-block">The complication type that you want to update with the print progress. See the app for more details</div>
        </div>
        <br/>

        <label class="control-label">{{ _('Update Text') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octoprint_complicated.value_template">
            <div class="help-block">The template for the update text. The string <code>{progress}</code> will be replaced with the current progress %.</div>
        </div>

        <label class="control-label">{{ _('Send Notification at 50%') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="value: settings.plugins.octoprint_complicated.notfiy_at_50_percent">
            <div class="help-block">Sends you a notification when print progress reaches 50%. (Requires Pro)</div>
        </div>

        <label class="control-label">{{ _('Send Notification at 100%') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="value: settings.plugins.octoprint_complicated.notfiy_at_100_percent">
            <div class="help-block">Sends you a notification when print progress reaches 100%. (Requires Pro)</div>
        </div>
    </div>
</form>
